<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>neofilters</title>
        <meta name="description" content="Advanced filtering options for Spotify.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css')}}">
        <link rel="icon" type="image/x-icon" href="../static/icons/neofilter_favicon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        {% block head %}
        {% endblock %}
    </head>
    <body>
       {% block body %}
       {% endblock %}
    </body>
</html>