<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>spotifilters</title>
        <meta name="description" content="Advanced filtering options for Spotify.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="body_container">
            <header id="header">
                <nav class="flex {%block navclasses %}{% endblock%} align-items-center h-100 pos-sticky">
                    {% block nav %}
                    {% endblock %}
                </nav>
            </header>
            <main id="main">
                {% block content %}
                {% endblock %}
            </main>
            <footer id="footer">
                <ul class="flex justify-evenly align-items-center h-100">
                    <li class="list-item">Developed by: Kenniel Torres</li>
                    <li class="list-item"><a class="no-text-decor color-inherit" href="https://developer.spotify.com/" target="_blank" rel="noopener noreferrer">Spotify Web API</a></li>
                </ul>
            </footer>
        </div>

    </body>
</html>