{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/styles/dashboard.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($){
        $('#dynamic_table_body tr').each(function(){
            $(this).attr('data-search-term', $(this).text().trim().replace(/\s\s+/g, ' ').toLowerCase());
        });

        $('#live-search-input').on('keyup', function(){
        var searchTerm = $(this).val().trim().toLowerCase();

        $('#dynamic_table_body tr').each(function(){
            if ($(this).filter('[data-search-term*="' + searchTerm + '"]').length > 0 || searchTerm.length < 1) {
                $(this).show();
            } 
            else {
                $(this).hide();
            }
        });

        });

        $("tr.redirectable").click(function() {
            window.location = window.location.origin + '/playlist/' + $(this).attr('id');
        });

    });


</script>
{% endblock %}

{% block navclasses %} justify-space-between margin-sides-1 {% endblock%}

{% block nav %}
    <a href="{{ url_for('dashboard') }}" class="no-text-decor color-inherit">spotifilters</a>
    <button type="button" title='Sign Out of Spotify.' onclick="window.location.href='signout'">Sign Out</button>
{% endblock %}

{% block content %}
<div id="dashboard_container" class="">
    <h1 class="pos-sticky top-0 bg-lightblue">Welcome, {{ spotify.me().get('display_name') }}</h1>
    <div id="" class="flex justify-space-between margin-sides-1">
        <h3>Playlists</h3>
        <input type="text" id="live-search-input" name="search" placeholder="Search" maxlength="40">
    </div>
    <div class="margin-sides-1">
        <table class="w-100" id="playlist_table">
            <thead>
                <tr>
                    <th>Art</th>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="dynamic_table_body">
                {% for playlist in playlists_array|sort(attribute='name') %}
                    <tr class="text-center pointer redirectable" id="{{ playlist.get('id') }}">
                        <td><img src="{{ playlist.get('images')[0].get('url') }}" width="50px" height="50px" alt="Image for playlist: {{ playlist.get('name') }}"></td>
                        <td>
                            {{ playlist.get('name')|default('Playlist',true) }}
                        </td>
                        <td>
                            {% if playlist.get('public') %}
                                Public
                            {% else %}
                                Private
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
