{% extends 'base.html' %}

{% block styling %}
    <link rel="stylesheet" href="../static/styles/index.css">
{% endblock %}



{% block content %}
    <div class="flex flex-column align-items-center h-100" id="index_container">
        <div class="flex flex-column justify-center align-items-center margin-bottom-1">
            <h3 class="text-center margin-bottom-1">Please login below using your Spotify credentials.</h3>
            <button type='button' title='Sign In with Spotify.' onclick="window.location.href='{{ auth_url }}'">Continue with Spotify</button>
        </div>
        <div class="margin-bottom-1">
            <h3 class="flex justify-center margin-bottom-1">Why <i>spotifilters</i>?</h3>
            <div class="flex flex-column justify-center align-items-center">
                <p>
                    As known, Spotify offers a handful of options to filter and curate your playlists 
                    to your likings. However, at times it feels like there aren't enough
                    options. Here at spotifilters, we are able to offer you the traditional and even more advanced
                    filtering options such as filtering by the release date, or even a range of dates, 
                    genres, and artists, amongst many more.
                </p>
                <p>
                    We want to give you the most control over your music, because we believe that 
                    nobody knows you better than yourself. We hope you enjoy this platform! 
                </p>
            </div>
        <div/>
    </div>  
{% endblock %}