{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/playlist.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/playlist.js') }}"></script>
<script>
    jQuery(document).ready(function($){
        var explicitTracks = $("[data-explicit='True']")
        var cleanTracks = $("[data-explicit='False']")

        var resizeDelay = 200;
        var doResize = true;
        var resizer = function () {
            if (doResize) {
                var content_container_height = $(window).height() -  $('#playlist-header').outerHeight()
                $('#content-container').css('height', content_container_height + 'px');
                doResize = false;
            }
        };
        var resizerInterval = setInterval(resizer, resizeDelay);
        resizer();
        
        $(window).resize(function() {
            doResize = true;
        });


        // Name or Artist Live search functionality
        $('#tracks-container > .track-card').each(function(){
            $(this).attr('data-search-terms', $(this).find('.track_name, .artists').text().trim().replace(/\s\s+/g, ' ').toLowerCase());
            $(this).attr('data-isrc', $(this).find('.isrc').text().substring(6).toLowerCase())
        });
        
        // Name or artist search
        $('#header-input').on('keyup', function(){
            var searchTerm = $(this).val().trim().toLowerCase();
            $('#tracks-container > .track-card').each(function(){
                if ($(this).filter('[data-search-terms*="' + searchTerm + '"]').length > 0 || searchTerm.length < 1) {
                    $(this).show();
                } 
                else {
                    $(this).hide();
                }
            });
        });

        // ISRC Live search functionality
        $('#isrc-input').on('keyup', function(){
            var isrcSearch = $(this).val().trim().toLowerCase()
            $('#tracks-container > .track-card').each(function(){
                if ($(this).filter('[data-isrc*="' + isrcSearch + '"]').length > 0 || isrcSearch.length < 1) {
                    $(this).show();
                } 
                else {
                    $(this).hide();
                }
            });
        });

        // Explicit and Clean hide or display
        $('#explicit, #clean').change(function() {
            var explicitChecked = $('#explicit').is(':checked');
            var cleanChecked = $('#clean').is(':checked');

            if (explicitChecked && cleanChecked) {
                explicitTracks.show();
                cleanTracks.show();
            } else if (explicitChecked) {
                explicitTracks.show();
                cleanTracks.hide();
            } else if (cleanChecked) {
                explicitTracks.hide();
                cleanTracks.show();
            } else {
                explicitTracks.show();
                cleanTracks.show();
            }
        });

        // Deserializing dates to remove time
        Date.prototype.withoutTime = function () {
            var d = new Date(this);
            d.setHours(0, 0, 0, 0);
            return d;
        }

        // Release Date Filtering
        $('#release-submit').click(function(){
            // Validate date inputs, if empty add class
            if ($('#rel-lower-bound').val() === '' || $('#rel-upper-bound').val() === ''){
                $('#rel-lower-bound').addClass('invalid-input')
                $('#rel-upper-bound').addClass('invalid-input')
            }
            else {
                $('#rel-lower-bound').removeClass('invalid-input')
                $('#rel-upper-bound').removeClass('invalid-input')
                var rel_date_lower = new Date($('#rel-lower-bound').val()).withoutTime()
                var rel_date_upper = new Date($('#rel-upper-bound').val()).withoutTime()

                $('#tracks-container > .track-card').each(function(){
                    var card_date = new Date($(this).find('.rel_date').text().substring(10)).withoutTime()
                    if (card_date >= rel_date_lower && card_date <= rel_date_upper){
                        $(this).show()
                    }
                    else {
                        $(this).hide()
                    }
                })

            }
        });
        
        // Added Date Filtering
        $('#added-submit').click(function() {
            // Validate date inputs, if empty add class
            if ($('#add-lower-bound').val() === '' || $('#add-upper-bound').val() === ''){
                $('#add-lower-bound').addClass('invalid-input')
                $('#add-upper-bound').addClass('invalid-input')
            }
            else {
                $('#add-lower-bound').removeClass('invalid-input')
                $('#add-upper-bound').removeClass('invalid-input')
                var add_date_lower = new Date($('#add-lower-bound').val()).withoutTime()
                var add_date_upper = new Date($('#add-upper-bound').val()).withoutTime()

                $('#tracks-container > .track-card').each(function(){
                    var card_date = new Date($(this).find('.rel_date').text().substring(10)).withoutTime()
                    if (card_date >= add_date_lower && card_date <= add_date_upper){
                        $(this).show()
                    }
                    else {
                        $(this).hide()
                    }
                })
            }
        });

        // Restore page to default and reset all inputs, filters, and sorting.
        $('#reset-all').click(function () {
            defaultPlaylistView()
        });
    });

    // Structure form url to include selected value
    function structureFormAction(){
        let form = document.getElementById('sort-form')
        let select = document.getElementById('sort-select')
        let selectedOption = select.options[select.selectedIndex].value
        let currentUrl = window.location.href.split('?')[0]
        let updatedUrl = currentUrl + '?sort-by=' + selectedOption
        form.action = updatedUrl
        form.submit()
    };

    function defaultPlaylistView(){
        let form = document.getElementById('sort-form')
        let playlistUrl = window.location.href.split('?')[0]
        form.action = playlistUrl
        form.submit()
    }

</script>
{% endblock %}


{% block body %}
<div id="body-container">
    <header id="playlist-header">
        <a id="return-arrow" href="{{ url_for('menu') }}"><img src="{{ url_for('static', filename='icons/return_arrow.svg')}}" title="Return"></a>
        <div id="header-left">
            <p id="playlist-name" class="header-left-item">{{ playlist_details.get('name')|default('Playlist',true)|truncate(25, True) }}</p>
            <input class="header-left-item" id="header-input" type="text" placeholder="Name or Artists" maxlength="30">
        </div>
        <a id="sign-out-btn" class="pointer" title='Sign Out of Spotify.' onclick="window.location = window.location.origin.concat('/signout')">Sign Out</a>
    </header>

    <div id="content-container">
        <div id="filters-container">
            <div id="filter-header">
                <input id="filter-toggle" type="checkbox">
                <label id="toggle-arrow" for="filter-toggle" style="text-align: center;"><img id="toggle-arrow-img" src="{{ url_for('static', filename='icons/arrow_toggler.svg')}}"></label>
                <div id="filtering-subheader">
                    <p>Menu</p>
                    <button id="reset-all">Clear</button>
                </div>
            </div>
            <div id="options-parent">
                <div id="filtering_options">
                    <div id="option-2" class="flex flex-col align-items-c">
                        <label for="search">Search</label>
                        <input id="isrc-input" type="text" maxlength="30" placeholder="ISRC">
                    </div>
                    <div id="option-1" class="flex flex-row space-evenly align-items-c">
                        <input id="explicit" type="checkbox">
                        <label for="explicit">Explicit</label>
                        <input id="clean" type="checkbox">
                        <label for="clean">Clean</label>
                    </div>
                    <div id="option-3">
                        <p>Release Date</p>
                        <div class="flex flex-col align-items-c">
                            <label >From</label>
                            <input id="rel-lower-bound" type="date" class="">
                        </div>
                        <div class="flex flex-col align-items-c">
                            <label >To</label>
                            <input id="rel-upper-bound" type="date" class="">
                        </div>
                        <div class="flex flex-col align-items-c">
                            <input class="submit-btn" type="submit" id="release-submit">
                        </div>
                    </div>
                    <div id="option-4">
                        <p>Added Date</p>
                        <div class="flex flex-col align-items-c">
                            <label >From</label>
                            <input id="add-lower-bound" type="date" class="">
                        </div>
                        <div class="flex flex-col align-items-c">
                            <label >To</label>
                            <input id="add-upper-bound" type="date" class="">
                        </div>
                        <div class="flex flex-col align-items-c">
                            <input class="submit-btn" type="submit" id="added-submit">
                        </div>
                    </div>
                    <div id="sorting-options" class="flex flex-col align-items-c">
                        <label for="sort-form" >Sort By</label>
                        <form action="{{ request.path }}" method="post" id="sort-form">
                            <select name="sort-select" id="sort-select" onchange="structureFormAction()">
                                <option value="none" selected>Select</option>
                                <option value="default">Default</option>
                                <option value="alph-asc">A-Z</option>
                                <option value="alph-desc">Z-A</option>
                                <option value="dur-asc">Duration Ascending</option>
                                <option value="dur-desc">Duration Descending</option>
                                <option value="most-popular">Most Popular First</option>
                                <option value="least-popular">Least Popular First</option>
                                <option value="rel-asc">Release Date Ascending</option>
                                <option value="rel-desc">Release Date Descending</option>
                                <option value="added-asc">Added Date Ascending</option>
                                <option value="added-desc">Added Date Descending</option>
                            </select>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="tracks-container">
            {% for track in tracks %}
            <div class="track-card" 
                    data-id="{{ loop.index }}"
                    data-explicit="{{ track.get('track').get('explicit') }}"
                    >
                <div class="card-block-1">
                    {% if track.get('track').get('album').get('images')|length > 0 %}
                        <img class="artwork" src="{{ track.get('track').get('album').get('images')[0].get('url') }}">
                    {% else %}
                        <img class="artwork" src="../static/icons/black_square.svg">
                    {% endif %}
                    <div class="c-b-1-row">
                        <p class="duration c-b-1-row-item">{{ track.get('track').get('duration_ms') }}</p>
                        {% if track.get('track').get('explicit') %}
                            <img id="rating" src="../static/icons/explicit_track.svg" class="c-b-1-row-item">
                        {% endif %}
                    </div>
                </div>
                <div class="card-block-2">
                    <p class="track_name"><a href="{{ track.get('track').get('external_urls').get('spotify') }}" target="_blank" rel="noopener noreferrer">{{ track.get('track').get('name') }}</a></p>
                    <p class="rel_date" title="In ISO 8601 format.">Released: {{ track.get('track').get('album').get('release_date') }}</p>
                    <p class="added_date" title="In ISO 8601 format.">Added: {{ track.get('added_at')[:10] }}</p>
                </div>
                <div class="card-block-3">
                    <div class="artists">
                        {% for artist in track.get('track').get('artists') %}
                            <p class="artist-{{ loop.index }}"><a href="{{ artist.get('external_urls').get('spotify') }}" target="_blank" rel="noopener noreferrer">{{ artist.get('name') }}</a></p>
                        {% endfor %}
                    </div>
                    <p class="isrc">ISRC: {{ track.get('track').get('external_ids').get('isrc') }}</p>
                    <p class="popularity">Popularity: {{ track.get('track').get('popularity') }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    
</div>




{% endblock %}
