{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/playlist.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/playlist.js') }}"></script>
{% endblock %}


{% block body %}
<div id="body-container">
    <header id="playlist-header" class="">
        <a id="return-arrow" href="{{ url_for('menu') }}"><img src="{{ url_for('static', filename='icons/return_arrow.svg')}}" title="Return"></a>
        <div id="header-left">
            <p class="header-left-item">{{ playlist_details.get('name')|default('Playlist',true)|truncate(25, True) }}</p>
            <input class="header-left-item" id="header-input" type="text" placeholder="Name or Artists" maxlength="30">
        </div>
        <a id="sign-out-btn" class="pointer" title='Sign Out of Spotify.' onclick="window.location = window.location.origin.concat('/signout')">Sign Out</a>
    </header>

</div>




{% endblock %}
