@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --spotify-green: #1DB954;
    --dark-blue: #27374D;
    --med-blue: #526D82;
    --soft-blue: #9DB2BF;
    --light-blue: #DDE6ED;
    --white: #fff;
    --spotify-dark: #212121;
    --spotify-dark-gray: #535353;
    --spotify-gray: #b3b3b3;
    
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: var(--white);
}


/* Media Queries
* ------------------------------------------
*  Responsive Grid Media Queries - 1280, 1024, 768, 480
*   1280-1024   - desktop (default grid)
*   1024-768    - tablet landscape
*   768-480     - tablet 
*   480-less    - phone landscape & smaller
* --------------------------------------------
*/
@media all and (min-width: 1280px) {
    #body-wrapper {
        font-size: 1.15rem;
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    #body-wrapper {
        font-size: 1.1rem;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    #body-wrapper {
        font-size: 1.05rem;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    #body-wrapper {
        font-size: 1.025rem;
    }
}

@media all and (max-width: 480px) {
    #body-wrapper {
        font-size: 1rem;
    }
}